name: eriks weather pipeline

on:
  push:
    branches:
      - DevOps-pipeline_grupp4_EU
  workflow_dispatch:

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Gets the whole repo
        uses: actions/checkout@v4

      - name: Installs latest version of python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name:  Run unit tests
        run: |
          if pytest -q weather_app/pytests/test_city_coordinates.py; then
            echo "✅ Pytest OK"
          else
            echo "❌ Pytest failed"
            exit 1
          fi

      - name:  Run integration tests
        run: |
          if pytest -q weather_app/pytests/test_api_call.py; then
            echo "✅ Integration test OK"
          else
            echo "❌ Integration test failed"
            exit 1
          fi

  building-docker-image:
      needs: testing
      runs-on: ubuntu-latest
      
      steps:
        - name: Check out code
          uses: actions/checkout@v4
  
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
  
        - name: Log in to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
  
        - name: Build and push to Docker Hub
          uses: docker/build-push-action@v6
          with:
            context: .
            file: dockerfile
            push: true
            tags: |
              studenteriksti/devops-pipeline_grupp4_eu:latest
              studenteriksti/devops-pipeline_grupp4_eu:1.5

        - name: Confirm image pushed
          if: success()
          run: echo "✅ Image successfully built and pushed"

        - name: Report failure
          if: failure()
          run: echo "❌ Docker image build or pushed failed"
       
       
            


           
            





        
    
