name: eriks weather pipeline

on:
    push:

        branches:
            - DevOps-pipeline_grupp4_EU

    workflow_dispatch:

jobs:
    testing-koordinates:
        runs-on: ubuntu-latest

        steps:

         -  name: Gets the whole repo
            uses: actions/checkout@v4

         -  name: Installs latest version of python
            uses: actions/setup-python@v5

            with: 
                python-version: "3.11"

         - name: Install dependencies
           run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

         -  name: Runs the test
            run: pytest pytests/

         - name: Pytest with if-else
           run: |
            if pytest -q; then
                echo "Pytest OK ✅"
            else
                echo "Pytest failed ❌"
                exit 1
            fi
            





        
    
